<div class="post-list-item-wrapper">

    {{#if hover}}
      <div class="repost-overlay">
          <div class="icon-repost">
              <img src="img/icon-repost.jpg" />
          </div>
          <span class="repost-prompt">Repost this to your followers?</span>
          <a {{action 'repost'}}>Yes</a> &#183; <a {{action 'hideRepost'}}>No</a>
      </div>

    {{/if}}

    {{#if loggedInUserHasReposted}}
      <div class="display-repost">
          <img src="img/icon-repost.jpg"/>
          <span>Reposted</span>
      </div>
    {{/if}}

    {{#if isRepost}}
        <div class="display-repost">
            <img src="img/icon-repost.jpg"/>
            <span>Reposted by {{post.author.name}}</span>
        </div>
    {{/if}}

    <div class="author-image-container">
        <div class="author-image"></div>
    </div>

    <div class="post-info-container">
        <div class="author-name">
          {{#link-to 'profile' userLink}}
            {{displayName}}
          {{/link-to}}
        </div>

        <div class="post-content">{{post.content}}</div>

        <div class="post-footer">

          <div class="post-date">
            {{#link-to 'post' userLink postLink}}
              {{format-date displayDate}}
            {{/link-to}}
          </div>

          {{#if displayRepostOption}}
            <span>&#183;</span>

            <div class="repost">
                <a {{action 'showRepost'}}>Repost</a>
            </div>
          {{/if}}

          {{#if loggedInUserOwnsPost}}
            <span>&#183;</span>

            <div class="delete">
                <a {{action 'deletePost'}}>Delete</a>
            </div>

          {{/if}}



        </div>
    </div>

</div>
