<div class="user-list-item-wrapper">
    <div class="user-image-container">
        <div class="user-image"></div>
    </div>

    <div class="user-name">
      {{#link-to 'profile' user.id}}
        {{user.name}}
      {{/link-to}}
    </div>

  {{#if isLoggedIn}}

  {{else}}
    {{#if isFollowing}}
        <button {{action 'unfollow'}}>Following</button>
    {{else}}
        <button {{action 'follow'}}>Follow</button>
    {{/if}}
  {{/if}}



</div>
