<h2>Create your account</h2>

{{input type="text" placeholder="Enter your name ..." value=name action='signup'}}
{{input type="email" placeholder="Enter your email ..." value=email action='signup'}}
{{input type="text" placeholder="Enter your username ..." value=username action='signup'}}
{{input type="password" placeholder="Enter your password ..." value=password action='signup'}}

{{#if errorMsg}}
  <div class="error">{{errorMsg}}</div>
{{/if}}

<div class="auth-right-footer">
    <button {{action 'signup' target='controller'}}>Sign up</button>
    <span>{{#link-to "auth.login"}}Login{{/link-to}}</span>
</div>