{{meta-bar user=controller.session.user}}

<div class="user-content-container">

    <div class="post-input">
      {{textarea rows='3' maxlength='140' placeholder="What's happening?" value=msgText}}
        <div class="footer">
            <span>{{msgLengthRemaining}} Characters</span>
            <button {{action 'publish'}}>Publish</button>
        </div>
    </div>

    <div class="latest-posts-header">
        <h2>Latest Posts</h2>
    </div>

    <div class="latest-posts-container">
      {{#each post in model}}
        {{post-list-item post=post}}
      {{/each}}
    </div>

</div>



