{{meta-bar user=session.user}}

<div class="user-content-container">

    <div class="profile-image">

    </div>

    <div class="user-info">
        <span class="name">{{model.name}}</span>
        <span class="id">@{{model.id}}</span>
      {{#if isLoggedIn}}
          <button {{action 'logout'}}>Logout</button>
      {{else}}
          <button {{action 'follow'}}>Follow</button>
      {{/if}}
    </div>


    <div class="nav">
        <ul>
            <li>
              {{#link-to "profile.posts" activeClass='selected'}}Posts{{/link-to}}
            </li>
            <li>
              {{#link-to "profile.following" activeClass='selected'}}Following{{/link-to}}
            </li>
            <li>
              {{#link-to "profile.followers" activeClass='selected'}}Followers{{/link-to}}
            </li>
        </ul>
    </div>

    <div class="nav-content">
      {{outlet}}
    </div>
</div>

